---
import PageLayout from "../layouts/pageLayout.astro";
---

<PageLayout pageTitle="About" subHeading="Hi! I'm Andy">
    <div class="section">
        <h4>About this website</h4>
        <p>iterLand is my personal website, where I post articles and show myself. In this website, I would share my thought, mainly related to technology, through articles, including some educational toturials. As a self-learner, I hope my learning experience on different knowledge can help you to avoid detours, or maybe inspire some ideas. </p> 
        <p>You can have a look on my blog posts to learn more.</p>
    </div>
    <div class="gray section">
        <h4>My Story</h4>
        <p>My name is Andy, a high school student from China who currently study and live in Hong Kong. My journey in technology starts with my curiosity of how things work and the desire of making my own one.</p>

        <p>When I was in primary 6, due to the need of attending online lesson during lockdown, I got my first chance to use a computer. As I use computer more frequently, I became more and more curious about how the softwares in computer works. At the same time, like many kids at my age, I tried playing video games, although I am not a fan of video game now, I was inspired by the game and started to think about making my own one. Then I check out relevant tutorials online, including using game engine, game designing and the most important one, programming.
        </p>
        <p>
            I didn't go so far in the road of game making, as I was facinated by one skill I learnt from that - programming.
        </p>
        <p>
            When I get into secondary school, I discovered my interest in programming. Unlike what I used to treat programming as a skill only, I start to learn about computer science. I read my firt algorithm book, learn about the computer system and architecture and many different things. I was deeply attracted by these amazing knowledge and I'm passionate to learn them. I keep doing so in my spare time, coding prarctice demos and reading books. In this period, I accumulated a pretty solid understanding of the fundamentals of computer science. 
        </p>
        <p>
            Then I get into high school. I was invited by my friend to join a competition, International Genetically Engineered Machine (iGEM), it's a international competition on sythesis biology, I know nothing about biology but I participate as a member of software team. In the competition I developed machine learning models to classify eczema subtypes by clinical images, from this oppotunity, I learnt about machine learning. I learnt state-of-art concepts in computer science from this experience by reading papers and books throughout my development process, so now I'm familiar with relevant knowledge in machine learning. At the same time, I realized the importance of mathematics, so I start to learn about university level mathematics.
        </p>
        <p>
            Now, I am continuously learning new knowledge, and working on my personal projects. My passion does not fade and I am still engaged in developing new skills.
        </p>
    </div>

    <!-- <div class="section">
        <h4>Value & Philosophy</h4>
        <ul>
            <li>Continuous learning</li>
            <li>Nothing is impossible</li>
            <li></li>
        </ul>
    </div> -->
</PageLayout>
<style>
    h4{
        margin: 0;
        font-size: var(--font-lg);
        text-align: center;
    }
    p{
        margin: var(--space-sm);
    }
    .section {
        border-bottom: 1px solid var(--color-border);
        padding: var(--space-xl) var(--space-lg);
        margin: 0;

    }
    .gray{
        background-color: var(--color-bg-light);
    }
</style>
