---
import '../styles/global.css'
import BaseLayout from '../layouts/baseLayout.astro';
import Hero from '../components/Hero.astro';
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>iterWorld - Home</title>
</head>
<body>
  <div class="min-h-screen bg-white">
    <BaseLayout>
    <Hero />
    </BaseLayout>
  </div>
</body>
</html>
