---
import "../styles/global.css";
const { title, url, desc, date } = Astro.props;
import { Calendar } from "@lucide/astro";
---

<div class="exp-card">
    <div class="head">
        <div class="date">
            📅{date}
        </div>
    </div>
    <h4>{title}</h4>

    <p>{desc}</p>

    <a href={url} style="color: var(--color-primary);">See More →</a>
</div>
<style>
    .exp-card {
    display: flex;
    border: 2px solid var(--color-border);
    flex-direction: column;
    padding: var(--space-md);
    text-decoration: none;
    border-radius: var(--radius-lg);
    color: var(--color-text);
    gap: var(--space-md);
    overflow: auto;

}

p {
    margin: 0;
    font-weight: 1;

    line-clamp: 5;
}

h4 {
    margin: 0;
}

.date {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: var(--space-md);
    margin: 0;
    font-size: var(--font-md);
    margin: 0;
    white-space: nowrap;
}

.head {
    display: flex;
    flex-direction: row;
    margin: 0;
    gap: var(--space-md);
    align-items: center;
}

</style>