---
import "../styles/global.css";
const { title, url, desc, date } = Astro.props;
import { Calendar } from "@lucide/astro";
---

<div class="exp-card">
    <div class="head">
        <div class="date">
            📅{date}
        </div>
    </div>
    <h4>{title}</h4>

    <p>{desc}</p>

    <a href={url} style="color: var(--color-primary);">See More →</a>
</div>
