---
import "../styles/global.css";
---

<div class="hero">
  <div class="hero-text">
    <h1>Welcome to iterLand</h1>
    <p>It's my personal website for ideas, articles, projects</p>
  </div>
  <div class="quick-nav-links">
    <a class="quick-nav-link1" href="/blog">Read the Blog →</a>
    <a class="quick-nav-link2" href="/projects">View Projects</a>
  </div>
  <div class="nav-cards">
    <a class="nav-card" href="/blog">
      <h3>Blog</h3>
      <p>Check out my blogs that includes my thoughts, ideas and experience</p>
    </a>
    <a class="nav-card" href="/projects">
      <h3>Projects</h3>
      <p>Track my ongoing projects, and check out what I have done before</p>
    </a>
    <a class="nav-card" href="/about">
      <h3>About</h3>
      <p>Learn more about this website and who am I</p>
    </a>
  </div>
</div>