---
import "../styles/global.css";
const navLinks = [
  { name: "Home", href: "/" },
  { name: "Blog", href: "/blog" },
  { name: "Projects", href: "/projects" },
  { name: "About", href: "/about" },
];
---

<header>
  <div class="logo">iterLand</div>
  <div class="nav-links">
    <nav>
      {
        navLinks.map((link) => (
          <a class="nav-link" href={link.href}>
            {link.name}
          </a>
        ))
      }
    </nav>
  </div>
</header>
